//COLORS
$color-grey-dark: rgb(83, 82, 82);
$color-grey-light-1: #eee;
$color-grey-light-2: rgb(220, 217, 217);

$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;
$default-font-family: 'Dosis', sans-serif;
